body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.container-box {
	padding: 20px 30px 0 30px; 
	border: 1px solid #EEE;
}

.fa-gitlab, .fa-github {
	padding: 5px;
	margin: 5px;
}

.input-field div.error {
	position: relative;
	top: -0.5rem;
	left: 0rem;
	font-size: 0.8rem;
	color: #f50057;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

*:focus {
	outline: none;
}

nav li.active {
	line-height: 100%;
}

nav li.active a {
	line-height: 64px;
}

.breadcrumb {
	color: #777 !important;
}

.breadcrumb:before {
	color: #777 !important;
}

.breadcrumb:last-child {
	color: #333 !important;
}

@media (max-width: 768px) {
	.breadcrumb:not(:first-child):not(:last-child) {
		display: none;
	}
}

.button-collapse {
	cursor: pointer;
}

.model {
	white-space: pre-line;
}

#delete:hover, #delete:focus {
	color: #f50057;
}

#edit:hover, #edit:focus {
	color: #01579b;
}

#restore:hover, #restore:focus {
	color: #00c853;
}

footer .page-footer {
	background: transparent;
}